{% macro cite( vargs ) -%}
  {%- for p in vargs -%}
  <a href='{{p.jlink}}'>
    {{- p.sjournal ~ ' ' ~ ( p.year % 1000 ) -}}
    {%- if not loop.last -%}, {% endif -%}
  </a>
  {%- endfor -%}
{%- endmacro -%}

{%- macro tpubs( all, tag ) %}
  {%- set flist = [] -%}
  {%- for p in all -%}
    {%- if tag in p.tags -%}
      {%- set _ = flist.append(p) %}
    {%- endif -%}
  {%- endfor -%}
  {{- pubs( flist ) -}}
{%- endmacro -%}

{% macro pubs( list ) %}
  {% for p in list %}
    <li>
      {% if p.link or p.code %}
	<div class='text-nowrap tight-float-right'>
	  {%- if p.link -%}
	    <a
	      href='{{site_url}}/research/papers/{{p.link}}'
	      title='Download preprint'>📥</a>
	  {% endif %}
	  {% if p.tablet %}
	    <a
	      href='{{site_url}}/research/papers/{{p.tablet}}'
	      title='Download mobile friendly preprint'>📲</a>
	  {% endif %}
	  {% if p.twoup %}
	    <a
	      href='{{site_url}}/research/papers/{{p.twoup}}'
	      title='Download 2up preprint for eco-friendly printing'>🖨</a>
	  {% endif %}
	  {% if p.code or p.fcode %}
	    <a
	      href='{{(site_url ~ '/research/' ~ p.code) if p.code
		else p.fcode }}'
	      title='Code and Figures'>🖥</a>
	  {%- endif -%}
	</div>
      {% endif %}
      {% for a in p.authors %}
	<span class='text-nowrap'>{{a}},</span>
      {% endfor %}
      <i>{{p.title ~ (',' if p.journal else '.')}}</i>
      {% if p.jlink %}<a href='{{p.jlink}}' title='Published paper from journal website'>{% endif %}
	{{p.journal ~ ( ' ('~p.year~').' if p.year else '.' ) }}
      {% if p.jlink %}</a>{% endif %}
    </li>
  {% endfor %}
{% endmacro %}

{# Disabled, since Bootstrap 4 dropped support for Glyphicons.
{%- macro glyph( g ) -%}
  <span class='glyphicon glyphicon-{{g}}' aria-hidden='true'></span>
{%- endmacro -%}
#}

{%- macro email( address, period=true ) -%}
  <span class='text-nowrap' title='Email'>
    📧
    {{ address | default( "author@email.com" ) }}
    {%- if period %}.{% endif -%}
  </span>
{%- endmacro -%}

{%- macro room( bldg, room='', is_office=true ) -%}
  <span class='text-nowrap' {{"title='Office'" if is_office}}>
    {{-'💼' if is_office-}}
    {%- if bldg == "WEH" -%}
      {{' '}}<a title='Wean Hall' href='https://www.google.com/maps/place/Wean+Hall,+Carnegie+Mellon+University,+Pittsburgh,+PA+15213'>WEH</a>
    {%- else -%}
      {{bldg}}
    {%- endif -%}
    {{- ' '~room if room -}}.
  </span>
{%- endmacro -%}

{%- macro course_info_table(c, dirname='') -%}
  {#- Import this using "with context", so all the variables are inherited #}
  <table class='table'>
   {# <thead><tr><td colspan='2'></td></tr></thead> -#}
    <tbody>{# Instructor, lectures {{{ #}
      <tr>
	<th scope='row'>Instructor</th>
	<td>
	  <a href='{{author_url}}'>{{site_author}}</a>.
	  &emsp;
	  {{ room( author_office_bldg, author_office_room ) }}
	  &emsp;
	  {{ email(c.email|default(author_email)) }}
	</td>
      </tr>
      {%- if c.lectures -%}
      <tr>
	<th scope='row'>Lectures</th>
	<td>
	  {% if c.lectures is string -%}
	    {{c.lectures}}
	  {% elif c.lectures is mapping -%}
	    {{c.lectures.time}} in
	    {{room( c.lectures.bldg, c.lectures.room, is_office=false ) }}
	  {% else -%}
	    {% for s in c.lectures -%}
	      {{s}}{{'<br>' if not loop.last else ''}}
	    {% endfor -%}
	  {% endif -%}
	</td>
      </tr>
      {%- endif -%}
      {%- if c.zoomlectures -%}
      <tr>
	<th scope='row'>Lectures</th>
	<td>{{c.zoomlectures}}
	    via <a href='{{get_link(dirname ~ '/auth/zoom.md')}}'>Zoom</a>
	</td>
      </tr>
      {%- endif -%}
      {%- if c.office_hours -%}
      <tr>
	<th scope='row'>
	  Office Hours
	  {%- if c.ta and c.ta.office_hours %} (instructor){%- endif -%}
	</th>
	<td>
	  {%- if c.office_hours is string %}
	    {{c.office_hours}}
	  {%- else %}
	    {%- for s in c.office_hours %}
	      {{s}}{{'<br>' if not loop.last else ''}}
	    {%- endfor %}
	  {%- endif %}
	</td>
      </tr>
      {%- endif -%}
    </tbody>{# }}} #}
    {%- if c.ta -%}{# TA {{{ #}
      {%- set ta = c.ta -%}
      <tbody>
	<tr>
	  <th scope='row'>TA</th>
	  <td>
	    {%- if ta.url -%}
	      <a href='{{ta.url}}'>{{ta.name}}</a>.
	    {%- else -%}
	      {{ta.name | default('TBA')}}.
	    {%- endif -%}
	    {%- if ta.office -%}
	      &emsp;
	      {{ room( ta.office.bldg, ta.office.room ) }}
	    {%- endif -%}
	    {%- if ta.email -%}
	      &emsp;
	      {{ email( ta.email ) }}
	    {%- endif -%}
	  </td>
	</tr>
	{%- if ta.name2 %}
	<tr>
	  <th scope='row'>TA</th>
	  <td>
	    {%- if ta.url2 -%}
	      <a href='{{ta.url2}}'>{{ta.name2}}</a>.
	    {%- else -%}
	      {{ta.name2 | default('TBA')}}.
	    {%- endif -%}
	    {%- if ta.office2 -%}
	      &emsp;
	      {{ room( ta.office2.bldg, ta.office2.room ) }}
	    {%- endif -%}
	    {%- if ta.email2 -%}
	      &emsp;
	      {{ email( ta.email2 ) }}
	    {%- endif -%}
	  </td>
	</tr>
	{%- endif %}
	{%- if ta.name3 %}
	<tr>
	  <th scope='row'>TA</th>
	  <td>
	    {%- if ta.url3 -%}
	      <a href='{{ta.url3}}'>{{ta.name3}}</a>.
	    {%- else -%}
	      {{ta.name3 | default('TBA')}}.
	    {%- endif -%}
	    {%- if ta.office3 -%}
	      &emsp;
	      {{ room( ta.office3.bldg, ta.office3.room ) }}
	    {%- endif -%}
	    {%- if ta.email3 -%}
	      &emsp;
	      {{ email( ta.email3 ) }}
	    {%- endif -%}
	  </td>
	</tr>
	{%- endif %}
	{%- if ta.office_hours -%}
	  <tr>
	    <th scope='row'>Office Hours (TA)</th>
	    <td>
	      {%- if ta.office_hours is string %}
		{{ta.office_hours}}
	      {%- else %}
		{%- for s in ta.office_hours %}
		  {{s}}{{'<br>' if not loop.last else ''}}
		{%- endfor %}
	      {%- endif %}
	    </td>
	  </tr>
	{%- endif -%}
	{%- if ta.recitation -%}
	  <tr>
	    <th scope='row'>Recitation</th>
	    <td>
	      {%- if ta.recitation is string -%}
		{{ta.recitation}}
	      {%- else -%}
		{{ta.recitation.time}} in
		{{room( ta.recitation.bldg, ta.recitation.room,
		    is_office=false ) }}
	      {%- endif -%}
	    </td>
	  </tr>
	{%- endif -%}
	{%- if c.help -%}
	  <tr>
	    <th scope='row'>Help session</th>
	    <td>
	      {%- if c.help is string -%}
		{{c.help}}
	      {%- else -%}
		{{c.help.time}}
		{% if c.help.warning -%}
		  <span class='text-secondary small'>
		    ({{c.help.warning}})
		  </span>
		  <br>
		{%- endif -%}
		<span class='small'>
		  (Help sessions will be conducted by
		  {{c.help.ta}}&emsp;{{email(c.help.email, false)}}).
		</span>
	      {% endif -%}
	    </td>
	  </tr>
	{%- endif -%}
      </tbody>
    {%- endif -%}{# }}} TA #}
    {%- if c.dates -%}{# {{{ #}
    <tbody>
      {%- for (event, time) in c.dates -%}
	<tr>
	  <th scope='row'>{{event}}</th>
	  <td>{{time}}</td>
	</tr>
      {%- endfor -%}
    </tbody>
    {%- endif -%}{# }}} #}
    {#- Mailing list {{{ #}
    {%- if c.mailing_list or c.anonymous_list or c.blackboard
	    or c.mediasite or c.links or c.discourse or c.canvas %}
      <tbody>
	{%- if c.mailing_list -%}
	  <tr>
	    <th scope='row'>Mailing list</th>
	    <td>
	      <a href='{{c.mailing_list.url}}'>{{c.mailing_list.name}}</a>
	      <span class='small'>
		(for course announcements.
		<b class='bg-warning'>Please subscribe.</b>)
	      </span>
	      {%- if c.anonymous_list -%}
		<br>
		<a href='{{c.anonymous_list.url}}'>{{c.anonymous_list.name}}</a>
		<span class='small'>
		  (for anonymous discussion. Your emails will be delivered anonymously.)
		</span>
	      {%- endif -%}
	    </td>
	  </tr>
	{%- endif -%}
	{%- if c.discourse -%}
	  <tr>
	    <th scope='row'>Discussion Board</th>
	    <td>
	      <a href="{{c.discourse}}">Discourse</a>.
	    </td>
	  </tr>
	{%- endif -%}
	{%- if c.blackboard -%}
	  <tr>
	    <th scope='row'>Blackboard</th>
	    <td>
	      Grades and a discussion board are available
	      <a href="{{c.blackboard}}">here</a>.
	    </td>
	  </tr>
	{%- endif -%}
	{%- if c.canvas -%}
	  <tr>
	    <th scope='row'>Canvas</th>
	    <td>
	      <a href="{{c.canvas}}">canvas.cmu.edu</a>.
	      <span class='text-secondary small'>
		(Current students only).
	      </span>
	    </td>
	  </tr>
	{%- endif -%}
	{%- if c.mediasite -%}
	  <tr>
	    <th scope='row'>MediaSite</th>
	    <td>
	      <a href="{{c.mediasite}}">Lectures/recitations videos</a>.
	      <span class='text-secondary small'>
		(Current students only).
	      </span>
	    </td>
	  </tr>
	{%- endif -%}
	{%- for (desc, link) in c.links -%}
	  <tr>
	    <th scope='row'>{{desc}}</th>
	    <td>{{link}}</td>
	  </tr>
	{%- endfor -%}
      </tbody>
    {%- endif -%}{# }}} #}
   {# <tfoot><tr><td colspan='2'></td></tr></tfoot> -#}
  </table>
{%- endmacro -%}

{%- macro post_date(f) -%}
  {%- if search( f, '20(\d\d)(\d\d)(\d\d)' ) -%}
    {{ sub( f, '(?:.*/|^)20(\d\d)(\d\d)(\d\d)-.*', '20\\1-\\2-\\3', 1 ) }}
  {%- endif -%}
{%- endmacro  -%}

{%- macro post_series( parent, series ) -%}
  {#- Can't pass relative file names to this. -#}
  <div>
    <br>
    <h4 class='hide-xoverflow'>
      {{'☰'}}&emsp;<a href='{{get_link(parent)}}'>
	{{- get_meta(parent, 'title')}}</a>
    </h4>
    <ol class='small flushed-left-list'>
    {% for f in series -%}
      <li>
	<a href='{{get_link(f)}}'>{{get_meta(f, 'title')}}</a>
      </li>
    {% endfor %}
    </ol>
  </div>
{%- endmacro -%}
