{#- Also update publist below -#}
{% set pubs = {
  'regloss' : {
    'authors'	: ['G. Crippa', 'T. Elgindi', 'G. Iyer', 'A. Mazzucato'],
    'title'	: 'Growth of Sobolev norms and loss of regularity in transport equations',
    'year'	: 2021,
    'journal'	: 'Philosophical Transactions of the Royal Society A',
    'sjournal'	: 'Philos. Trans. Roy. Soc. A ',
    'link'	: '202109-regloss.pdf',
    'twoup'	: '202109-regloss-2up.pdf',
    'tablet'	: '202109-regloss-tablet.pdf',
    'tags'	: ['pde', 'mixing'],
  },

  'fbmhomog' : {
    'authors'	: ['C. Gomez', 'G. Iyer', 'H. Le', 'A. Novikov'],
    'title'	: 'An oscillator driven by algebraically decorrelating noise',
    'year'	: 2021,
    'com-journal'	: 'Commun. Math. Phys.',
    'com-sjournal'	: 'CIMP',
    'link'	: '202107-fbm-homog.pdf',
    'twoup'	: '202107-fbm-homog-2up.pdf',
    'tablet'	: '202107-fbm-homog-tablet.pdf',
    'tags'	: ['probability', 'homogenization'],
  },

  'htransfer' : {
    'authors'	: ['G. Iyer', 'S. Van'],
    'title'	: 'Bounds on the heat transfer rate via passive advection',
    'year'	: 2021,
    'journal'	: 'SIAM J. Math. Anal.',
    'sjournal'	: 'SIMA',
    'link'	: '202101-htransfer.pdf',
    'twoup'	: '202101-htransfer-2up.pdf',
    'tablet'	: '202101-htransfer-tablet.pdf',
    'tags'	: ['pde', 'probability', 'homogenization'],
  },

  'sirq' : {
    'authors'	: ['Y. Feng', 'G. Iyer', 'L. Li'],
    'title'	: 'Scheduling fixed length quarantines to minimize the total number of fatalities during an epidemic',
    'year'	: 2020,
    'journal'	: 'Journal of Mathematical Biology',
    'jlink'	: 'https://doi.org/10.1007/s00285-021-01615-0',
    'sjournal'	: 'J. Math Bio.',
    'link'	: '202007-sirq.pdf',
    'twoup'	: '202007-sirq-2up.pdf',
    'tablet'	: '202007-sirq-tablet.pdf',
    'tags'	: ['pde'],
  },

  'chmix' : {
    'authors'	: ['Y. Feng', 'Y. Feng', 'G. Iyer', 'J.-L. Thiffeault'],
    'title'	: 'Phase separation in the advective Cahn--Hilliard equation',
    'year'	: 2019,
    'journal'	: 'Journal of Nonlinear Science',
    'jlink'	: 'https://doi.org/10.1007/s00332-020-09637-6',
    'sjournal'	: 'J. Nonlinear Sci.',
    'link'	: '201912-chmix.pdf',
    'twoup'	: '201912-chmix-2up.pdf',
    'tablet'	: '201912-chmix-tablet.pdf',
    'tags'	: ['pde', 'fluids', 'mixing'],
  },

  'adissip' : {
    'authors'	: ['T. Drivas', 'T. M. Elgindi', 'G. Iyer', 'I.-J. Jeong'],
    'title'	: 'Anomalous Dissipation in Passive Scalar Transport',
    'year'	: 2019,
    'sjournal'	: 'Arch. Ration. Mech. Anal.',
    'journal'	: 'Archive for Rational Mechanics and Analysis',
    'link'	: '201909-adissip.pdf',
    'twoup'	: '201909-adissip-2up.pdf',
    'tablet'	: '201909-adissip-tablet.pdf',
    'tags'	: ['pde', 'fluids', 'mixing'],
  },

  'mixblowup' : {
    'authors'	: ['G. Iyer', 'X. Xu', 'A. Zlatoš'],
    'title'	: 'Convection-Induced Singularity Suppression in the Keller-Segel and Other Non-linear PDEs',
    'year'	: 2019,
    'journal'	: 'Transactions of the American Mathematical Society',
    'jlink'	: 'https://doi.org/10.1090/tran/8195',
    'sjournal'	: 'TAMS',
    'link'	: '201908-mixblowup.pdf',
    'twoup'	: '201908-mixblowup-2up.pdf',
    'tablet'	: '201908-mixblowup-tablet.pdf',
    'tags'	: ['pde', 'fluids', 'mixing', 'homogenization'],
  },

  'denh' : {
    'authors'	: ['Y. Feng', 'G. Iyer'],
    'title'	: 'Dissipation Enhancement by Mixing',
    'year'	: 2019,
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'jlink'	: 'https://doi.org/10.1088/1361-6544/ab0e56',
    'link'	: '201811-denh.pdf',
    'twoup'	: '201811-denh-2up.pdf',
    'tablet'	: '201811-denh-tablet.pdf',
    'tags'	: ['pde', 'fluids'],
  },

  'fcomb' : {
    'authors'	: ['S. Cohn', 'G. Iyer', 'J. Nolen', 'R. L. Pego'],
    'title'	: 'Anomalous diffusion in one and two dimensional combs',
    'year'	: 2018,
    'journal'	: 'Commun. Math. Sci.',
    'jlink'	: 'https://dx.doi.org/10.4310/CMS.2020.v18.n7.a2',
    'sjournal'	: 'CMS',
    'link'	: '201809-fcomb.pdf',
    'twoup'	: '201809-fcomb-2up.pdf',
    'tablet'	: '201809-fcomb-tablet.pdf',
    'tags'	: ['probability', 'pde', 'homogenization'],
  },

  'winding' : {
    'authors'	: ['X. Geng', 'G. Iyer'],
    'title'	: 'Long Time Asymptotics of Heat Kernels and Brownian Winding Numbers on Manifolds with Boundary',
    'year'	: 2018,
    'journal'	: 'ALEA',
    'jlink'	: 'https://doi.org/10.30757/ALEA.v18-48',
    'link'	: '201804-winding.pdf',
    'twoup'	: '201804-winding-2up.pdf',
    'tablet'	: '201804-winding-tablet.pdf',
    'tags'	: ['probability', 'pde'],
  },

  'dtc' : {
    'authors'	: ['G. Iyer', 'N. Leger', 'R. L. Pego'],
    'title'	: 'Coagulation and universal scaling limits for critical Galton-Watson processes',
    'year'	: 2018,
    'jlink'	: 'https://doi.org/10.1017/apr.2018.23',
    'journal'	: 'Advances in Applied Probability',
    'sjournal'	: 'Adv. in Appl. Probab.',
    'link'	: '201610-dtc.pdf',
    'twoup'	: '201610-dtc-2up.pdf',
    'tablet'	: '201610-dtc-tablet.pdf',
    'tags'	: ['probability', 'coagulation', 'pde'],
  },

  'snuc' : {
    'authors'	: ['G. Iyer', 'D. Spirn'],
    'title'	: 'A model for vortex nucleation in the Ginzburg-Landau equations',
    'journal'	: 'Journal of Nonlinear Science',
    'sjournal'	: 'J. Nonlinear Sci.',
    'year'	: 2017,
    'jlink'	: 'https://doi.org/10.1007/s00332-017-9391-4',
    'link'	: '201610-snuc.pdf',
    'twoup'	: '201610-snuc-2up.pdf',
    'tablet'	: '201610-snuc-tablet.pdf',
    'tags'	: ['probability', 'pde'],
  },


  'fkinetic' : {
    'authors'	: ['M. Hairer', 'G. Iyer', 'L. Koralov', 'A. Novikov', 'Z. Pajor-Gyulai'],
    'title'	: 'A fractional kinetic process describing the intermediate time behaviour of cellular flows',
    'year'	: 2016,
    'jlink'	: 'https://doi.org/10.1214/17-AOP1196',
    'journal'	: 'Ann. Probab.',
    'sjournal'	: 'AOP',
    'link'	: '201607-fkinetic.pdf',
    'twoup'	: '201607-fkinetic-2up.pdf',
    'tablet'	: '201607-fkinetic-tablet.pdf',
    'tags'	: ['pde', 'probability', 'homogenization'],
  },

  'kompaneets' : {
    'authors'	: ['J. Ballew', 'G. Iyer', 'R. L. Pego'],
    'title'	: 'Bose-Einstein condensation in a Hyperbolic model for the Kompaneets Equation',
    'journal'	: 'SIAM J. Math. Anal.',
    'sjournal'	: 'SIMA',
    'year'	: 2016,
    'jlink'	: 'http://dx.doi.org/10.1137/15M1054730',
    'link'	: '201512-kompaneets.pdf',
    'twoup'	: '201512-kompaneets-2up.pdf',
    'tags'	: ['pde'],
  },

  'oseen' : {
    'authors'	: ['G. Gie', 'C. Henderson', 'G. Iyer', 'L. Kavalie', 'J. P. Whitehead'],
    'title'	: 'Stability of vortex solutions to an extended Navier-Stokes system',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'jlink'	: 'http://dx.doi.org/10.4310/CMS.2016.v14.n7.a1',
    'year'	: 2016,
    'link'	: '201411-oseen.pdf',
    'twoup' 	: '201411-oseen-2up.pdf',
    'tags'	: ['pde', 'fluids'],
  },

  'adiffuse' : {
    'authors'	: ['G. Iyer', 'A. Novikov'],
    'title'	: 'Anomalous diffusion  in fast cellular flows at intermediate time scales',
    'journal'	: 'Probab. Theory Related Fields',
    'sjournal'	: 'PTRF',
    'jlink'	: 'http://link.springer.com/article/10.1007/s00440-015-0617-9',
    'year'	: 2015,
    'link'	: '201406-adiffuse.pdf',
    'twoup'	: '201406-adiffuse-2up.pdf',
    'tags'	: ['pde', 'probability', 'homogenization'],
  },

  'qtensor' : {
    'authors'	: ['G. Iyer', 'X. Xu', 'A. D. Zarnescu'],
    'title'	: 'Dynamic Cubic Instability in a 2D Q-tensor Model for Liquid Crystals',
    'journal'	: 'Math. Models Methods Appl. Sci',
    'sjournal'	: 'M3AS',
    'jlink'	: 'http://www.worldscientific.com/doi/abs/10.1142/S0218202515500396',
    'year'	: 2015,
    'link'	: '201405-qtensor-instab.pdf',
    'twoup'	: '201405-qtensor-instab-2up.ps',
    'tags'	: ['pde', 'liquid crystals'],
  },

  'mixbounds' : {
    'authors'	: ['G. Iyer', 'A. Kiselev', 'X. Xu'],
    'title'	: 'Lower bounds on the mix norm of passive scalars advected by incompressible enstrophy-constrained flows',
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'jlink'	: 'http://stacks.iop.org/0951-7715/27/973',
    'year'	: 2014,
    'link'	: '201208-mix-bounds.pdf',
    'twoup'	: '201208-mix-bounds-2up.pdf',
    'fcode'	: 'http://www.math.cmu.edu/~gautam/research/201208-mix-bounds',
    'tags'	: ['pde', 'mixing'],
  },

  'llp_gexist' : {
    'authors'	: ['M. Ignatova', 'G. Iyer', 'J. P. Kelliher', 'R. L. Pego', 'A. D. Zarnescu'],
    'title'	: 'Global existence for two extended Navier-Stokes systems',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'jlink'	: 'http://intlpress.com/site/pub/pages/journals/items/cms/content/vols/0013/0001/a012/index.html',
    'year'	: 2015,
    'link'	: '201308-llp-gexist.pdf',
    'twoup'	: '201308-llp-gexist-2up.pdf',
    'tags'	: ['pde', 'fluids'],
  },

  'coag' : {
    'authors'	: ['G. Iyer', 'N. Leger', 'R. L. Pego'],
    'title'	: 'Limit theorems for Smoluchowski dynamics associated with critical continuous-state branching processes',
    'journal'	: 'Ann. Appl. Probab.',
    'sjournal'	: 'AAP',
    'year'	: 2015,
    'jlink'	: 'http://projecteuclid.org/euclid.aoap/1424355128',
    'link'	: '201212-coagulation.pdf',
    'twoup'	: '201212-coagulation-2up.pdf',
    'tags'	: ['probability', 'pde', 'coagulation'],
  },

  'extdyn' : {
    'authors'	: ['G. Iyer', 'R. L. Pego', 'A. D. Zarnescu'],
    'title'	: 'Coercivity and stability results for an extended Navier-Stokes system',
    'journal'	: 'J. Math Physics',
    'sjournal'	: 'JMP',
    'year'	: 2012,
    'jlink'	: 'http://link.aip.org/link/?JMP/53/115605',
    'link'	: '201202-extdyn.pdf',
    'twoup'	: '201202-extdyn-2up.ps',
    'tags'	: ['pde', 'fluids']
  },

  'hnumerics' : {
    'authors'	: ['G. Iyer', 'K. C. Zygalakis'],
    'title'	: 'Numerical studies of homogenization under a fast cellular flow',
    'journal'	: 'SIAM Multiscale Model. Simul.',
    'sjournal'	: 'MMS',
    'year'	: 2012,
    'jlink'	: 'http://dx.doi.org/10.1137/120861308',
    'link'	: '201201-hnumerics.pdf',
    'twoup'	: '201201-hnumerics-2up.pdf',
    'tags'	: ['pde', 'homogenization'],
  },

  'evalue' : {
    'authors'	: ['G. Iyer', 'T. Komorowski', 'A. Novikov', 'L. Ryzhik'],
    'title'	: 'From homogenization to averaging in cellular flows',
    'journal'	: 'Ann. Inst. H. Poincaré Anal. Non Linéaire',
    'sjournal'	: 'AIHP',
    'year'	: 2014,
    'jlink'	: 'http://www.sciencedirect.com/science/article/pii/S0294144913000942',
    'link'	: '201108-evalue.pdf',
    'twoup'	: '201108-evalue.ps',
    'tags'	: ['pde', 'homogenization'],
  },

  'bdddomains' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'A stochastic-Lagrangian approach to the Navier-Stokes equations in domains with boundary',
    'journal'	: 'Ann. Appl. Probab.',
    'sjournal'	: 'AAP',
    'year'	: 2011,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.aoap/1312818842',
    'link'	: '201003-bdddomains.pdf',
    'twoup'	: '201003-bdddomains.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'badmixing' : {
    'authors'	: ['G. Iyer', 'A. Novikov', 'L. Ryzhik', 'A. Zlatoš'],
    'title'	: 'Exit times for diffusions with incompressible drift',
    'journal'	: 'SIAM J. Math. Anal.',
    'sjournal'	: 'SIMA',
    'year'	: 2010,
    'jlink'	: 'http://epubs.siam.org/doi/abs/10.1137/090776895',
    'link'	: '200911-bad-mixing-2d.pdf',
    'twoup'	: '200911-bad-mixing-2d.ps',
    'tags'	: ['pde', 'mixing'],
  },

  'resetting' : {
    'authors'	: ['G. Iyer', 'A. Novikov'],
    'title'	: 'The regularizing effects of resetting in a particle system for the Burgers\' equation',
    'journal'	: 'Ann. Probab.',
    'sjournal'	: 'AP',
    'year'	: 2011,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.aop/1312555805',
    'link'	: '200811-resetting.pdf',
    'twoup'	: '200811-resetting.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'mqg' : {
    'authors'	: ['P. Constantin', 'G. Iyer', 'J. Wu'],
    'title'	: 'Global regularity for a modified critical dissipative quasi-geostrophic equation',
    'journal'	: 'Indiana Univ. Math. J.',
    'sjournal'	: 'IUMJ',
    'year'	: 2008,
    'jlink'	: 'http://www.iumj.indiana.edu/oai/2008/57/3629/3629.xml',
    'link'	: '200803-mqg.pdf',
    'twoup'	: '200803-mqg.ps',
    'tags'	: ['pde', 'harmonic analysis', 'fluids'],
  },

  'particle_method' : {
    'authors'	: ['G. Iyer', 'J. C. Mattingly'],
    'title'	: 'A stochastic-Lagrangian particle system for the Navier-Stokes equations',
    'journal'	: 'Nonlinearity',
    'sjournal'	: 'Non',
    'year'	: 2008,
    'jlink'	: 'http://iopscience.iop.org/0951-7715/21/11/004/',
    'link'	: '200803-particle_method.pdf',
    'twoup'	: '200803-particle_method.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'gexist' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A stochastic Lagrangian proof of global existence of the Navier-Stokes equations for flows with small Reynolds number',
    'journal'	: 'Ann. Inst. H. Poincaré Anal. Non Linéaire',
    'sjournal'	: 'AIHP',
    'year'	: 2009,
    'jlink'	: 'http://www.sciencedirect.com/science/article/pii/S029414490700090X',
    'link'	: '200702-gexist.pdf',
    'twoup'	: '200702-gexist.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'sentropy' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'Stochastic Lagrangian transport and generalized relative entropies',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2006,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.cms/1175797610',
    'link'	: '200608-sentropy.pdf',
    'twoup'	: '200608-sentropy.ps',
    'tags'	: ['pde', 'probability'],
  },

  'thesis' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A stochastic Lagrangian formulation of the incompressible Navier-Stokes and related transport equation',
    'journal'	: 'Ph.D. Thesis, University of Chicago',
    'sjournal'	: 'Thesis',
    'year'	: 2006,
    'jlink'	: 'http://search.proquest.com/docview/304953924',
    'link'	: '200605-thesis.pdf',
    'twoup'	: '200605-thesis.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'detsns' : {
    'authors'	: ['P. Constantin', 'G. Iyer'],
    'title'	: 'A stochastic Lagrangian representation of the $3$-dimensional incompressible Navier-Stokes equations',
    'journal'	: 'Comm. Pure Appl. Math.',
    'sjournal'	: 'CPAM',
    'year'	: 2008,
    'jlink'	: 'http://onlinelibrary.wiley.com/doi/10.1002/cpa.20192/abstract;jsessionid=BAF74593C993796122E02A8A12BE5238.d02t01',
    'link'	: '200511-detsns.pdf',
    'twoup'	: '200511-detsns.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'sperturb' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'A Stochastic perturbation of inviscid flows',
    'journal'	: 'Commun. Math. Phys.',
    'sjournal'	: 'CIMP',
    'year'	: 2006,
    'jlink'	: 'http://www.springerlink.com/content/b7757155707l1571/?MUD=MP',
    'link'	: '200505-sperturb.pdf',
    'twoup'	: '200505-sperturb.ps',
    'tags'	: ['pde', 'probability', 'fluids'],
  },

  'vtrans' : {
    'authors'	: ['G. Iyer'],
    'title'	: 'Transport in viscous rotating fluids',
    'journal'	: 'Commun. Math. Sci.',
    'sjournal'	: 'CMS',
    'year'	: 2004,
    'jlink'	: 'http://projecteuclid.org/DPubS?service=UI&amp;version=1.0&amp;verb=Display&amp;handle=euclid.cms/1109885502',
    'link'	: '2004-vtrans.pdf',
    'twoup'	: '2004-vtrans.ps',
    'tags'	: ['pde', 'fluids']
  }
} -%}

{% set publist = (
    pubs.regloss,
    pubs.fbmhomog,
    pubs.htransfer,
    pubs.sirq,
    pubs.chmix,
    pubs.adissip,
    pubs.mixblowup,
    pubs.denh,
    pubs.fcomb,
    pubs.winding,
    pubs.dtc,
    pubs.snuc,
    pubs.fkinetic,
    pubs.kompaneets,
    pubs.oseen,
    pubs.adiffuse,
    pubs.qtensor,
    pubs.mixbounds,
    pubs.llp_gexist,
    pubs.coag,
    pubs.extdyn,
    pubs.hnumerics,
    pubs.evalue,
    pubs.bdddomains,
    pubs.badmixing,
    pubs.resetting,
    pubs.mqg,
    pubs.particle_method,
    pubs.gexist,
    pubs.sentropy,
    pubs.thesis,
    pubs.detsns,
    pubs.sperturb,
    pubs.vtrans,
) %}
