{% set course = {
    'current': False,
    'title' : '46-944: Stochastic Calculus for Finance 1',
    'semester' : 'Spring 2020',
    'email' : 'gi1242+944@cmu.edu',
    'lectures' : [
      'TTh 3:00--4:30PM in POS 145 (Pittsburgh) / QNT 507 (New York)',
      '<span class="text-info small">I will lecture from New York on Tue 2/4, and Tu 2/25.</span>'
    ],
    'office_hours': [
      'Tue 10:00--11:00am (On Zoom, NY students only, <b>on request</b>).',
      'Tue 11:00--12:00pm (Pittsburgh only)',
      '<div class="small justify">(For Zoom office hours, please email me at least two hours before the start of office hours. Download and install Zoom, and you will then be added to a conference on Zoom during office hours.)</div>',
    ],
    'ta': {
      'name': 'David Itkin',
      'email': 'ditkin@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '7211',
      },
      'office_hours': [
	'Wed 10:00--11:00am (Pittsburgh)',
	'Wed 11:00--12:00pm (On Canvas, NY students only, <b>on request</b>)',
	'<div class="small justify">(For Canvas office hours, please email the person conducting the office hours at least two hours before the start of office hours. You will then be added to a conference on Canvas during office hours.)</div>',
      ],
      'recitation': 'Fridays 12:30--2:00pm in ' ~
	'POS 145 (Pittsburgh), telecast to NY.',
    },
    'help': {
      'time': 'Wed 3:00--5:00PM, with office hours from 2:00--3:00pm',
      'ta': 'Yifan Sun',
      'email': 'yifans@andrew.cmu.edu',
      'warning': 'Live in NY. Recordings available to Pittsburgh Students only',
    },
    'dates' : [
      ('Homework Due',
	'Thursdays, at 2:59:59PM. <a href="#homework" class="small">(Late homework policy)</a>'
      ),
      ('Midterm', 'Thu, Feb 6, in class'),
      ('Final', 'Wed, Mar 4, 4:30pm--7:30pm'),
      ('Makeup Final', 'TBA'),
    ],
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944',
      'name': 'mscf-944'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/s2020-944',
    'canvas' : 'https://canvas.cmu.edu',
    'mediasite' : 'http://mscf.mediasite.com/Mediasite/Catalog/catalogs/mscf',
  }
%}
