{% set course = {
    'current' : True,
    'title' : 'Math 720: Measure Theory and Integration',
    'semester' : 'Fall 2020',
    'email' : 'gi1242+720@cmu.edu',
    'zoomlectures' : 'MWF 4:00PM--4:50PM',
    'office_hours': 'Mon 3:00--3:50',
    'ta': {
      'name': 'Lantian Xu',
      'email': 'lxu2@andrew.cmu.edu',
      'office_hours': 'Tue 4:30-5:50pm',
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-720',
      'name': 'math-720'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/f2020-720',
    'dates' : [
      ('Homework due', 'Wednesdays, at 4:00pm on <a href="https://www.gradescope.com/courses/176487">Gradescope</a>'),
      ('Midterm', 'Fri, Oct 9'),
      ('Final', 'TBA')
    ]
  }
%}
