{% set course = {
    'current' : True,
    'title' : 'Math 420: Continuous Time Finance',
    'semester' : 'Fall 2022',
    'email' : 'gi1242+420@cmu.edu',
    'lectures' : 'MWF 2:30--3:20 in HH B131',
    'office_hours': 'Mon 1:30PM, Fri 1:30PM',
    'ta': {
      'name': 'Jonghwa Park',
      'email': 'jonghwap@andrew.cmu.edu',
      'office': { 'bldg': 'WEH', 'room': '7106' },
      'office_hours': [
	'Tue 2:00-3:00PM',
      ],
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-420',
      'name': 'math-420'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/s2022-420',
    'dates' : [
      ('Homework due', 'Wednesdays, at 2:29pm on <a href="https://www.gradescope.com/courses/358318">Gradescope</a>'),
      ('Midterm 1', 'Wed 2/23'),
      ('Midterm 2', 'Mon 4/4'),
      ('Final', 'TBA')
    ]
  }
%}
