{% set course = {
    'title' : "46-944: Stochastic Calculus for Finance 1",
    'semester' : 'Spring 2017',
    'email' : 'gi1242+944@cmu.edu',
    'lectures' : [
      'MW 1:30--3:00 in POS 145 (Pittsburgh), telecast in TPR NY1 (New York)',
      '<b>Make up lecture:</b> Fri Jan 20 1:30--3:00.',
      '<span class="text-info small">I will lecture from New York on Mon Jan 23 and Feb 27.</span>'
    ],
    'office_hours': 'Wed 3:00--4:30pm',
    'ta': {
      'name': 'Yan Xu (Ryan)',
      'email': 'yanx1@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '7213',
      },
      'office_hours': 'Thu 3:30--5:00',
      'recitation': 'Fri 2:30--4:00 in ' ~
	'POS 145 (Pittsburgh), telecast in TPR NY1 (New York).',
    },
    'oldhelp': {
      'time': 'Thursdays 9:30--12:15',
      'ta': 'Praveen Kolli',
      'email': 'pkolli@andrew.cmu.edu',
      'warning': 'New York only, will not be telecast.',
    },
    'dates' : [
      ('Homework Due',
	'Mondays, at the <a href="#homework">beginning of class</a>.'
      ),
      ('Midterm', 'Wed, Feb 8, in class'),
      ('Final', 'Sat, Mar 4 12:00--3:00pm in POS 145, 322 and TPR NY1, NY2'),
      ('Makeup Final', 'Mon, Mar 13 10:00am--1:00pm (room TBA)'),
    ],
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944',
      'name': 'mscf-944'
    },
    'anonymous_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944-discuss',
      'name': 'mscf-944-discuss'
    },
    'blackboard' : 'https://www.cmu.edu/blackboard',
    'mediasite' : 'http://mscf.mediasite.com/Mediasite/Catalog/catalogs/mscf',
  }
%}
