{% set course = {
    'title' : "Math 272: Introduction to PDE's",
    'semester' : 'Fall 2015',
    'email' : 'gi1242+272@cmu.edu',
    'lectures' : {
      'time' : 'MWF 2:30-3:20',
      'bldg' : 'PH',
      'room' : 'A18A'
    },
    'office_hours': 'Wed 11:30--12:20',
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-272',
      'name': 'math-272'
    },
    'dates' : [
      ('HW presentations', 'Fridays, 4:30 in WEH 7201'),
      ('Midterm 1', 'Fri, Oct 2 (in class)'),
      ('Midterm 2', 'Fri, Nov 6 (in class)'),
      ('Final', 'Mon, Dec 14, 8:30AM-11:30AM (WEH 5302)')
    ]
  }
%}
