{% set course = {
    'title' : '46-944: Stochastic Calculus for Finance 1',
    'semester' : 'Spring 2019',
    'email' : 'gi1242+944@cmu.edu',
    'lectures' : [
      'TTh 2:45--4:15PM in POS 145 (Pittsburgh), telecast in TPR NY1 (New York)',
      '<span class="text-info small">I will lecture from New York on Tue 1/22, and Th 2/21.</span>'
    ],
    'office_hours': [
      'Tue 10:00--11:00pm (Pittsburgh only)',
      'Tue 12:00--1:00pm (On Zoom, NY students only, <b>on request</b>).',
      '<div class="small">(For Zoom office hours, please email me at least two hours before the start of office hours. Download and install Zoom, and you will then be added to a conference on Zoom during office hours.)</div>',
    ],
    'ta': {
      'name': 'David Itkin',
      'email': 'ditkin@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '7211',
      },
      'office_hours': [
	'Wed 4:30--5:30 (Pittsburgh)',
	'Wed 2:30--3:30 (On Canvas, NY students only, <b>on request</b>)',
	'<div class="small">(For Canvas office hours, please email the person conducting the office hours at least two hours before the start of office hours. You will then be added to a conference on Canvas during office hours.)</div>',
      ],
      'recitation': 'Fri 12:30--2:00pm in ' ~
	'POS 145 (Pittsburgh), telecast in TPR NY1 (New York).',
    },
    'oldhelp': {
      'time': 'Thursdays 9:30--12:15',
      'ta': 'Praveen Kolli',
      'email': 'pkolli@andrew.cmu.edu',
      'warning': 'New York only, will not be telecast.',
    },
    'dates' : [
      ('Homework Due',
	'Thursdays, at 2:44:59PM. <a href="#homework" class="small">(Late homework policy)</a>'
      ),
      ('Midterm', 'Thu, Feb 7, in class'),
      ('Final', 'Wed, Mar 6, 5:30PM--8:30PM in POS 145/146'),
      ('Makeup Final', 'Wed, Mar 20, 5:00pm--8:00pm (room TBA)'),
    ],
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944',
      'name': 'mscf-944'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/s2019-944',
    'canvas' : 'https://canvas.cmu.edu',
    'mediasite' : 'http://mscf.mediasite.com/Mediasite/Catalog/catalogs/mscf',
  }
%}
