{% set course = {
    'current' : False,
    'title' : 'Math 370: Discrete Time Finance',
    'semester' : 'Fall 2020',
    'email' : 'gi1242+370@cmu.edu',
    'zoomlectures' : 'MWF 5:20PM--6:10PM',
    'office_hours': 'Mon 10:00--10:50am',
    'ta': {
      'name': 'Jose Luis Olvera',
      'email': 'joseluim@andrew.cmu.edu',
      'name2': 'Lily Chen',
      'email2': 'huipingc@andrew.cmu.edu',
      'office_hours': 'Jose Luis: 10:30--11:30am (Tue). Lily: 3:15--4:30pm (Tue)',
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-370',
      'name': 'math-370'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/f2020-370',
    'dates' : [
      ('Homework due', 'Wednesdays, at 5:20pm on <a href="https://www.gradescope.com/courses/176822">Gradescope</a>'),
      ('Midterm 1', 'Wed Sep 30'),
      ('Midterm 2', 'Thu Nov 5'),
      ('Final', 'TBA')
    ]
  }
%}
