{% set course = {
    'current' : False,
    'title' : 'Math 370: Discrete Time Finance',
    'semester' : 'Fall 2020',
    'email' : 'gi1242+370@cmu.edu',
    'zoomlectures' : 'MWF 3:35--4:25PM',
    'office_hours': 'Mon 9AM--10:30AM, Fri 4:25PM--5:20PM on Zoom',
    'ta': {
      'name': 'Jonghwa Park',
      'email': 'jonghwap@andrew.cmu.edu',
      'office': { 'bldg': 'WEH', 'room': '7106' },
      'name2': 'Karl Xiao',
      'email2': 'kzx@andrew.cmu.edu',
      'name3': 'Hongyi Zhou',
      'email3': 'hongyizh@andrew.cmu.edu',
      'office_hours': [
	'Mon 6:00--7:00PM (Jonghwa, in person, WEH 7106)',
	'Tue 12:00--1:00PM (Karl, in person, WEH 7201)',
	'Tue 2:00--2:50PM (Hongyi, on Zoom)',
      ],
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-370',
      'name': 'math-370'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/f2021-370',
    'dates' : [
      ('Homework due', 'Wednesdays, at 3:35pm on <a href="https://www.gradescope.com/courses/301598">Gradescope</a>'),
      ('Midterm 1', 'Wed Sep 29'),
      ('Midterm 2', 'Wed Nov 3'),
      ('Final', 'TBA')
    ]
  }
%}
