{% extends "layouts/base.j2" %}
{% import "includes/macros.j2" as macros %}
{% import "includes/publist.j2" as p %}
{% set active = 'research' %}
{% set title = 'Research Interests and Publications' %}

{% block body %}
<h1>{{title}}</h1>

<div class='row'>
  <div class='col-md-6 text-justify hyphenate'>
    {# {{{
    {% markdown %}
      ## Research Description

      <img class='img-rounded float-left hidden-xs'
          src='img/mixing-diag-sol6.jpg'>
      <img class='img-rounded float-left visible-xs-inline'
	  src='img/mixing-diag-sol6-xs.jpg'>
      ### Mixing by Incompressible Flows

      Can you stir your coffee to keep it hot for longer?
      How much "work" do you have to do to stir cream into your coffee?
      Mathematically this translates to obtaining precise estimates for solutions to certain PDE's, which is what motivated this part of my research.
      
      {{ macros.cite( [p.pubs.badmixing, p.pubs.mixbounds] ) }}.
    {% endmarkdown %}
    }}} #}
    <h2 id='publications-by-area'>Publications by area</h2>

    {% set tags = [
      ( 'coagulation', 'Coagulation' ),
      ( 'fluids', 'Fluid Dynamics' ),
      ( 'homogenization', 'Homogenization' ),
      ( 'liquid crystals', 'Liquid Crystals' ),
      ( 'mixing', 'Mixing' ),
      ( 'pde', 'Partial Differential Equations' ),
      ( 'probability', 'Probability' ),
    ] %}
    <ul class='nav nav-pills' role='tablist'>
      {% for t, T in tags %}
      <li role='presentation' {% if loop.first %}class='active'{% endif %}>
	<a href="#pubs-{{t|replace( ' ', '-' )}}" role='pill' data-toggle='pill'>
	  {{t | capitalize}}
	</a>
      </li>
      {% endfor %}
    </ul>
    <div class='tab-content'>
      {% for t, T in tags %}
	<div role='tabpanel' class='tab-pane{% if loop.first %} active{% endif %}'
	    id="pubs-{{t|replace(' ', '-')}}">
	  <h3>{{T}}</h3>

	  <ul>{{ macros.tpubs( p.publist, t ) }}</ul>
	</div>
      {% endfor %}
    </div>


  </div>{# /col-md-6 lead #}
  <div class='col-md-6'>
    {%markdown%}
      ## Grant Support

      My research is partially supported by:

      * An [NSF](http://www.nsf.gov) CAREER grant (DMS-1252912, 2013-2018).

      * An [Alfred P. Sloan](http://www.sloan.org/sloan-research-fellowships)
	research fellowship (2013).

      * The [Center for Nonlinear Analysis](http://www.math.cmu.edu/cna)
    {% endmarkdown %}

    <h2><a name='all-publications'></a>All Publications</h2>

    <ul>{{ macros.pubs( p.publist ) }}</ul>

  </div>{#/col-md-6#}
</div>{#/row#}
{% endblock %}
