{% set course = {
    'title' : 'Math 268: Multidimensional Calculus',
    'semester' : 'Spring 2018',
    'email' : 'gi1242+268@cmu.edu',
    'lectures' : {
      'time' : 'MWF 9:30-10:20',
      'bldg' : 'BH',
      'room' : 'A53'
    },
    'office_hours': 'Mon 10:30--11:50, Fri 1:30--2:20',
    'ta': {
      'name': 'Thomas Swayze',
      'oldurl': 'http://sonv.github.io/teaching/2015-08-25-fall',
      'email': 'tes@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '7205',
      },
      'office_hours': 'Mon 3:30--4:30, Tue 11:00--12:00',
      'recitation':
	'Sec A: Tu 1:30-2:20 in PH A18B, and Sec B: 3:30-4:20 in WEH 6423',
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-268',
      'name': 'math-268'
    },
    'dates' : [
      ('Homework due', 'Wednesdays, at the <b>beginning</b> of class. <span class="text-danger">Late homework will not be accepted</span>'),
      ('Midterm 1', 'Wed, Feb 14 (in class)'),
      ('Midterm 2', 'Wed, Mar 28 (in class)'),
      ('Final', 'Mon, May 14, 5:30pm--8:30pm in DH 2302')
    ]
  }
%}
