{% set course = {
    'current': False,
    'title' : '46-944: Stochastic Calculus for Finance 1',
    'semester' : 'Fall 2021',
    'email' : 'gi1242+944@cmu.edu',
    'lectures' : [
      'TTh 10:10AM in TCS 250 (Pittsburgh) / BRD 507 (New York)',
    ],
    'office_hours': [
      'Mon 11:45PM--1:00PM on '
	~ '<a href="'~get_link('teaching/2021-22/944-scalc-finance1/auth/zoom.md')~'">Zoom</a>',
    ],
    'ta': {
      'name': 'Shukun Long',
      'email': 'shukunl@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '6213',
      },
      'office_hours': [
	'Mon 5:30--7:00PM on '
	~ '<a href="'~get_link('teaching/2021-22/944-scalc-finance1/auth/zoom.md')~'">Zoom</a>',
      ],
      'recitation': 'Fridays 2:00--3:30pm in ' ~
	'TCS 250 (Pittsburgh) / BRD 507 (New York)',
    },
    'oldhelp': {
      'time': 'Wed 3:00--5:00PM, with office hours from 2:00--3:00pm',
      'ta': 'Yifan Sun',
      'email': 'yifans@andrew.cmu.edu',
      'warning': 'Live in NY. Recordings available to Pittsburgh Students only',
    },
    'dates' : [
      ('Homework Due', '10:10:AM on Oct 28, Nov 4, 11, 23, 30, Dec 7' ),
      ('Midterm', 'Tue, Nov 16, in class'),
      ('Final', 'Thu Dec 9, 10:00AM--1:00PM'),
      ('Makeup Exam', 'TBA'),
    ],
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944',
      'name': 'mscf-944'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/f2021-944',
    'oldcanvas' : 'https://canvas.cmu.edu',
    'oldmediasite' : 'http://mscf.mediasite.com/Mediasite/Catalog/catalogs/mscf',
  }
%}
