{% extends "layouts/base.j2" %}
{% block pre_container %}
  <div class="jumbotron">
    <div class="container" >
      {% block jumbotron %}<h1>Hello, world!</h1>{{ lipsum(1) }}{% endblock %}
    </div>
  </div>{# jumbotron #}
{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-9">
      {% block heading1 %}<h2>Heading 1</h2>{{ lipsum(1) }}{% endblock %}
    </div>
    <div class="col-md-3">
      <div class='row' style='position: sticky; top: .5rem'>
	<div class='col-md-12 col-sm-6'>
	  {% block heading2 %}
	    <h3>Heading 2</h3>{{ lipsum(1) }}
	  {% endblock %}
	</div>
	<div class='col-md-12 col-sm-6'>
	  {% block heading3 %}
	    <h3>Heading 3</h3>{{ lipsum(1) }}
	  {% endblock %}
	</div>
      </div>{# row #}
    </div>{# col-md-3 #}
  </div>{# row #}
{% endblock body %}
