{% extends "layouts/base.j2" %}
{% block body %}
  <div class="jumbotron">
    {% block jumbotron %}
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    {% endblock %}
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      {% block heading1 %}
	<h2>Heading 1</h2>
	{{ lipsum(1) }}
	<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      {% endblock %}
    </div>
    <div class="col-md-3">
      {% block heading2 %}
	<h2>Heading 2</h2>
	{{ lipsum(1) }}
	<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      {% endblock %}
    </div>
    <div class="col-md-3">
      {% block heading3 %}
	<h2>Heading 3</h2>
	{{ lipsum(1) }}
	<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      {% endblock %}
    </div>
  </div>
{% endblock body %}
