{% set active = 'blog' -%}
{%- macro finclude(fn) -%}
  {%- include fn -%}
{%- endmacro -%}
{% from 'includes/macros.j2' import post_date -%}
{% extends "layouts/md-nav-right-affix.j2" -%}
{% block comments_block -%}
  {% if comments != 'disabled' -%}
    {% set cfiles = glob( '/blog/_comments/_'~filesdir~'_*.md' ) | sort -%}
    {% for f in cfiles -%}
      {% set meta = get_meta( f ) -%}
      {% if loop.first %}
	<h3 class='my-3'>
	  🗫 Comments
	</h3>

	<ul class='list-unstyled comments mb-3'>
      {% endif %}
	<li class='mt-2'>
	  <div class='media small'>
	    <img class='mr-3 rounded d-none d-sm-block'
		src='{{meta.avatar|default('https://cdn.libravatar.org/avatar/')}}'
		alt='{{meta.name|default('Anonymous')}}'>
	    <div class='media-body'>
	      <h5 class='mt-0 mb-1'>
		{{meta.subject}}
	      </h5>
	      <p class='small mb-2'>{{meta.name|default('Anonymous')}} ({{meta.date}})</p>

	      {{finclude(f) | markdown}}
	    </div>
	  </div>
	</li>
      {% if loop.last %}
	</ul>
      {% endif %}
    {% endfor -%}

    <h4>
      📮 Leave a comment
      <small class='text-danger small-1'>
	(Spammers beware: All comments are moderated)
      </small>
    </h4>
    <div id='comment-failed' class='alert alert-danger d-none'>
      Sorry. There was an error submitting your comment. Please try again, or contact me if the problem persists.
    </div>
    <form id='comment-form' role='form' method='post'
	action='javascript:submit_comment()'>
      <input type='hidden' name='page' value='{{basename}}'>
      <input type='hidden' name='comment-number' value='{{(cfiles|length)+1}}'>
      <div class='form-row'>
	<div class="col-md-6 my-1">
	  <label class="sr-only" for="name">Name</label>
	  <input type="text" class="form-control" name="name"
	    placeholder="Name (optional)">
	</div>
	<div class="col-md-6 my-1">
	  <label class="sr-only" for="email">Email address</label>
	  <input type="email" class="form-control" name="email"
	    placeholder="Email (optional, to generate an avatar; will not be published)"
	    title="Your email is only used to generate an avatar. It will not be published or used to contact you. Promise!">
	</div>
      </div>
      <label class="sr-only" for="subject">Subject</label>
      <input type="text" class="form-control my-1" name="subject"
	placeholder="Subject (REQUIRED)" REQUIRED>

      <label class="sr-only" for="comment">Comment</label>
      <textarea class="form-control my-1" name="comment"
	placeholder="Comment. (REQUIRED. Write your comment in Markdown)"
	rows='4' REQUIRED></textarea>
      {# <span class='help-block'>
	Write your comment in 
	<a href='https://help.github.com/articles/markdown-basics'>Markdown</a>.
      </span> #}

      <div class="text-right my-1">
	<button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    <div id='comment-sending' class='alert alert-info d-none'>
      Sending comment; please wait.
    </div>
    <div id='comment-success' class='alert alert-success d-none'>
      Thanks. Your comment was successfully submitted.
      It will appear here shortly if it isn't spam.
    </div>
  {% endif -%}{# comments not disabled -#}
{% endblock comments_block -%}
{% block nav_after_toc -%}
  {{ super() }}

  <br>
  <h4>📢 Recent posts</h4>
  {% set files = glob( '/blog/[0-9]*.md' ) | sort( reverse=True ) -%}
  <ol class='list-unstyled small'>
    {% for f in files[:5] -%}
      <li class='hide-xoverflow'>
	<a href='{{get_link(f)}}'>{{get_meta( f, 'title')}}</a>
	({{post_date(f)}})
      </li>
    {% endfor -%}
  </ol>
{% endblock nav_after_toc -%}
