{% from 'includes/macros.j2' import course_info_table -%}
{% set active = 'teaching' -%}
{%- if path_exists( 'course_info.j2' ) -%}
  {%- from get_file('course_info.j2') import course -%}
  {%- if not title %}
    {%- set title = course.title %}
    {%- if course.semester %}{% set subtitle = course.semester %}{% endif %}
  {%- endif -%}
  {% set page_email = course.email -%}
  {# Set breadcrumb for level 1 pages -#}
  {% if not breadcrumb and basename != 'index.md' -%}
    {% set breadcrumb = 'index.html|' ~ course.title -%}
  {% endif -%}
{% endif -%}
{%- macro md_hw() -%}
  {%- include get_file(hw | default( '_hw.md', true )) ignore missing -%}
{%- endmacro -%}
{%- macro md_handouts() -%}
  {%- include get_file(handouts | default( '_handouts.md', true )) ignore missing -%}
{%- endmacro -%}
{% extends "layouts/md-nav-right-affix.j2" -%}
{% block nav_after_toc -%}
  {% if md_hw() or md_handouts() -%}
    <div id='hw-handouts' class='row small'>
      {% if md_hw() -%}
	<div class='col-md-12 col-sm-6'>
	  <h4 class='d-none d-md-block'>Homework and Solutions</h4>
	  <h2 class='d-md-none'>Homework and Solutions</h2>
	  {{ md_hw() | markdown }}
	</div>
      {% endif -%}
      {% if md_handouts() -%}
	<div class='col-md-12 col-sm-6'>
	  <h4 class='d-none d-md-block'>Handouts</h4>
	  <h2 class='d-md-none'>Handouts</h2>
	  {{ md_handouts() | markdown }}
	</div>
      {% endif -%}
    </div>
  {% endif -%}
{% endblock -%}
{% block content_block -%}
  {% if course is defined and not course.current -%}
    <div class='alert alert-danger small'>
      <b>Note:</b>
      This is the class website of a course that is not currently running.
      Some links may be broken.
    </div>
  {% endif -%}
  {% if infotable == 'show'
	  or ( basename == 'index.md' and course and not infotable) -%}
    {{ course_info_table(course, dirname=dirname) }}
  {%- endif -%}
  {{ super() }}
{%- endblock -%}
