{%- extends "layouts/base.j2" -%}
{% block body -%}
  <div class='row'>
    <div class='col-md-9' id='col-main'>
      {% block breadcrumb_block -%}
	{% if breadcrumb -%}
	  <nav class='small d-none d-sm-block' aria-label='breadcrumb'>
	    <ol class='breadcrumb'>
	      {% if breadcrumb is string -%}
		{% set breadcrumb = [breadcrumb] -%}
	      {% endif -%}
	      {% for i in breadcrumb | reverse -%}
		{% if search( i, '\|' ) -%}
		  {# in format "link|text" #}
		  {% set b_link = get_link( sub( i, '\|.*', '', 1 ) ) -%}
		  {% set b_text = sub( i, '.*?\|', '', 1 ) -%}
		{% else -%}
		  {# in format "file.md" #}
		  {% set b_link = get_link( i ) -%}
		  {% set b_text = get_meta( i, 'title' ) -%}
		{% endif -%}
		<li class='breadcrumb-item'><a href='{{b_link}}'>{{b_text}}</a></li>
	      {% endfor -%}
	      <li class='breadcrumb-item active' aria-current='page'>
		{{title}}
	      </li>
	    </ol>
	  </nav>
	{% endif -%}
      {% endblock breadcrumb_block -%}
      {% block main_column -%}
	<h1>{{title|default('Set title to the document title')}}</h1>
	{{ lipsum() }}
      {% endblock main_column -%}
    </div>{# col-md-9 #}
    <div class='col-md-3' id='col-right'>
      {% block nav_column -%}
	{% block nav_before_toc %}{% endblock -%}
	{% if not search( toc, '<ul></ul>' ) -%}
	  <nav class='nav d-none d-md-block'>
	    <div id='toc'>
	      {{toc}}{# Looks like:<div class='toc'><ul>...</ul></div> #}
	    </div>
	  </nav>
	{% endif -%}
	{% block nav_after_toc %}{% endblock -%}
      {% endblock nav_column -%}
    </div>{# col-md-3 #}
  </div>{# row #}
{% endblock body -%}
