{% set course = {
    'title' : "46-944: Stochastic Calculus for Finance 1",
    'semester' : 'Fall 2017',
    'email' : 'gi1242+944@cmu.edu',
    'lectures' : [
      'MW 2:45--4:15 in POS 145 (Pittsburgh), telecast in TPR NY1 (New York)',
      '<span class="text-info small">I will lecture from New York on Mon 10/30, Mon 12/4, Wed 12/6.</span>'
    ],
    'office_hours': [
      'Mon 11:00--11:50pm (Pittsburgh only)',
      'Mon 1:30--2:20pm (On Canvas, NY students only, <b>on request</b>).',
      '<div class="small">(For Canvas office hours, please email the person conducting the office hours at least two hours before the start of office hours. You will then be added to a conference on Canvas during office hours.)</div>',
    ],
    'ta': {
      'name': 'David Itkin',
      'email': 'ditkin@andrew.cmu.edu',
      'office': {
	'bldg': 'WEH',
	'room': '7211',
      },
      'office_hours': [
	'Tue 11:30--12:30 (Pittsburgh)',
	'Tue 1:20--2:30 (On Canvas, NY students only, <b>on request</b>)',
	'<div class="small">(For Canvas office hours, please email the person conducting the office hours at least two hours before the start of office hours. You will then be added to a conference on Canvas during office hours.)</div>',
      ],
      'recitation': 'Fri 9:30--11:00 in ' ~
	'POS 145 (Pittsburgh), telecast in TPR NY1 (New York).',
    },
    'oldhelp': {
      'time': 'Thursdays 9:30--12:15',
      'ta': 'Praveen Kolli',
      'email': 'pkolli@andrew.cmu.edu',
      'warning': 'New York only, will not be telecast.',
    },
    'dates' : [
      ('Homework Due',
	'Wednesdays, at 2:44:59PM. <a href="#homework" class="small">(Late homework policy)</a>'
      ),
      ('Midterm', 'Mon, Nov 20, in class'),
      ('Final', 'Sat, Dec 16 10:00AM--1:00PM in POS 145, 147 and TPR NY1, NY2'),
      ('Makeup Final', 'Tue, Jan 16 (time, room TBA)'),
    ],
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944',
      'name': 'mscf-944'
    },
    'anonymous_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/mscf-944-discuss',
      'name': 'mscf-944-discuss'
    },
    'canvas' : 'https://canvas.cmu.edu',
    'mediasite' : 'http://mscf.mediasite.com/Mediasite/Catalog/catalogs/mscf',
  }
%}
