{% set course = {
    'current' : Fase,
    'title' : 'Math 268: Multidimensional Calculus',
    'semester' : 'Spring 2020',
    'email' : 'gi1242+268@cmu.edu',
    'lectures' : {
      'time' : 'MWF 11:30-12:20',
      'bldg' : 'BH',
      'room' : 'A53'
    },
    'office_hours': 'Mon 10:00--11:20, Fri 3:30--4:20',
    'ta': {
      'name': 'Yuepeng Yang',
      'email': 'yuepengy@andrew.cmu.edu',
      'office_hours': 'TBA',
      'name2' : 'Ruoyuan Liu',
      'email2' : 'ruoyuanl@andrew.cmu.edu',
      'office_hours': 'Mon 1:30--3:30, Tue 12:30--2:30 in WEH 6215',
      'recitation':
	'Sec A: Tu 3:30-4:20 in DH 1112, <br>Sec B: Tu 4:30-5:20 in PH A18B',
    },
    'mailing_list' : {
      'url' : 'https://lists.andrew.cmu.edu/mailman/listinfo/math-268',
      'name': 'math-268'
    },
    'discourse' : 'https://zym.math.cmu.edu/c/s2020-268',
    'dates' : [
      ('Homework due', 'Wednesdays, at 11:29:59AM.  <a href="#homework" class="small">(Late homework policy)</a>'),
      ('Midterm 1', 'Wed, Feb 12 (in class)'),
      ('Midterm 2', 'Wed, Mar 25 (in class)'),
      ('Final', 'TBA')
    ]
  }
%}
